

@{
    ViewData["Title"] = "About Us";
}
<h1><u>@ViewData["Title"]</u><br /></h1><br />

<p style="text-align:center"><h3>OnlineAdz is an online advertising portal.Choose from various categories and post your Ad.
    We help you to build up your brand's name.You dont have to worry about advertising any more!!</h3></p>
<br />
<p style="text-align:center;"><img src="~/css/Images/about.jpg" height="40%" width="40%"></p>

