@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" >
    
    <h1 class="display-4"><br />Welcome to OnlineAdz!<br /><h3>We make advertising easy!!</h3></h1><br />
    <img src="~/css/Images/ad.jpg" height="40%" width="40%" />
</div>
