@{
    ViewData["Title"] = "Privacy Policy";
}
<h1><u>@ViewData["Title"]</u></h1><br />

<p><h5>We are committed to protecting and preserving the privacy of our visitors when visiting our site or communicating electronically with us.
    We handle your privacy with utmost respect and protect your personal details.
</h5></p>
<br />
<p style="text-align:center;"><img src="~/css/Images/privacy.png" height="50%" width="50%"></p>